@media screen and (min-width: 300px) and (max-width: 500px){
    /*-----------------------Page 1-----------------------*/
    .page_1 {
        width: 100%;
        height: 1010px;
        background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
    }
    header{
        height: 140px;
    }
    .panel{
        width: 327px;
    }
    .panel>div{
        margin: 40px 0 66px 0;
    }
    header>div>img{
        width: 35px;
        position: relative;
        bottom: -6px;
        margin: 0 5px 0 0;
    }
    nav{
        display: none;
    }
    .button_contact_us{
        display: none;
    }
    .main_info{
        flex-direction: column;
        align-items: flex-start;
        width: 327px;
    }
    .main_info>div{
        width: 100%;
    }
    .main_info>div>h1{
        font-size: 42px;
        line-height: 150%;
    }
    .main_info>div>p{
        font-size: 16px;
        line-height: 150%;
        margin: 0 0 50px 0;
    }
    .services{
        font-size: 16px;
        width: 166px;
        height: 44px;
    }
    .main_info>img{
        width: 400px;
        position: relative;
        right: 30px;
    }
    /*----------------------Big photo----------------------*/
    .big_photo{
        height: 420px;
        margin-top: 130px;
    }
    .text{
        display: flex;
        flex-direction: column;
        height: 186px;
        margin: 0;
    }
    .text>h2{
        font-size: 36px;
        line-height: 150%;
        width: 100%;
        margin-bottom: 30px;
    }
    .text>p{
        font-size: 16px;
        line-height: 150%;
        width: 100%;
    }
    .big_photo>div{
        width: 327px;

    }
    .big_photo>div>img{
        margin-top: 50px;
        width: 327px;
        height: 184px;
    }
    /*----------------------Provide services----------------------*/
    .provide_services{
        height: 1994px;
    }
    .provide_services>h2{
        width: 327px;
        margin: 140px 0 98px 0;
        font-size: 36px;
        line-height: 150%;
        text-align: left;
    }
    .wrap{
        width: 327px;
        height: 1778px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .wrap>div{
        height: 198px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .wrap>div>h4{
        margin: 42px 0 24px 0;
        font-size: 24px;
        letter-spacing: -0.75px;
    }
    .wrap>div>p{
        font-size: 16px;
        line-height: 28px;
        width: 300px;
        margin: 0;
    }
    /*----------------------Portfolio----------------------*/
    .portfolio{
        height: 973px;
    }
    .portfolio>div{
        width: 327px;
        height: 100%;
    }
    .portfolio h2{
        width: 100%;
        font-size: 36px;
        line-height: 150%;
        margin: 188px 0 70px 0;
    }
    #second, #third{
        display: none;
    }
    .cover{
        width: 100%;
        height: 294px;
    }
    .frame_img{
        width: 115%;
    }
    .portfolio_img{
        width: 100%;
        border-radius: 12px;
    }
    .frame{
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    /*----------------------Contact us----------------------*/
    .contact_us{
        width: 100%;
        height: 832px;
    }
    .contact_us>div{
        width: 327px;
        height: 832px;

    }
    .contact_us>div>div{
        width: 327px;
        height: 476px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contact_us div div h2{
        font-size: 36px;
        line-height: 150%;
        width: 100%;
        margin: 0 0 50px 0;
    }
    footer{
        width: 100%;
        height: 356px;
        justify-content: space-between;
        flex-direction: column;
    }
    footer>div>img{
        width: 27px;
        position: relative;
        bottom: -2.5px;
        margin: 0 5px 0 0;
    }
    footer>p{
        font-size: 18px;
        line-height: 28px;
        margin: 0 0 50px 0;
    }
    .mobile{
        display: block;
    }
}